<div (click)="onTouched()">
  <div class="dropdown">
    <a
      href="javascript:;"
      data-bs-toggle="dropdown"
      id="navbarDropdownMenuLink2"
      class="btn dropdown-toggle btn-white"
      aria-expanded="true"
    >
      {{ title }}
    </a>
    <ul
      aria-labelledby="navbarDropdownMenuLink2"
      class="dropdown-menu"
      data-popper-placement="bottom-start"
      style="
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(0px, 42.5px, 0px);
      "
    >
      <li *ngFor="let item of data; let i = index">
        <a
          href="javascript:;"
          class="dropdown-item"
          (click)="onSelect(item.value, item.title)"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
