.btn-request {
  width: 80px;
  height: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 7px;
}

tr {
  width: 100%;
}

td {
  width: 20%;
  vertical-align: middle;
  height: 60px;
  border-bottom: none;
}

.mrg-img {
  margin-left: 10px;
  margin-right: 10px;
}

.td-right {
  text-align: end;
  padding-right: 50px;
}
