<div class="modal-header">
    <h4>Change password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm">
        <div>
            <label class="form-label" for="oldPassword">Old password:</label>
            <input id="oldPassword" class="form-control" type="password" formControlName="oldPassword" (input)="clearInputOldPassword()">
            <em *ngIf="changePasswordForm.controls.oldPassword.touched &&
                changePasswordForm.controls.oldPassword.errors?.required">
                Old password is required.
            </em>
            <em *ngIf="!isOldPasswordMatch">
                Old password incorrect
            </em>
        </div>
        <div class="mt-3">
            <label class="form-label" for="newPassword">New password:</label>
            <input id="newPassword" class="form-control" type="password" formControlName="newPassword">
            <em *ngIf="changePasswordForm.controls.newPassword.touched &&
                changePasswordForm.controls.newPassword.errors?.required">
                New password is required.
            </em>
            <em *ngIf="changePasswordForm.controls.newPassword.errors?.pattern">
                Password should be atleast 6 characters long
                and should contain one number,one character and one special
                character.
            </em>
        </div>
        <div class="mt-3">
            <label class="form-label" for="confirm">Confirm new password:</label>
            <input id="confirm" class="form-control" type="password" formControlName="confirm">
            <em *ngIf="changePasswordForm.controls.confirm.touched &&
                changePasswordForm.controls.confirm.errors?.required">
                Password confirmation is required.
            </em>
            <em *ngIf="changePasswordForm.controls.confirm.errors?.mustMatch">
                Passwords must match.
            </em>
        </div>
        <div class="col-12 text-center mt-3">
            <button  class="border w-50 rounded-3" (click)="changePassword()">Change password</button>
        </div>
    </form>
</div>